name: Build and Release

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            extra-platforms = aarch64-linux

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build
        run: |
          nix build .# --system aarch64-linux
          cp -L result/vmlinuz vmlinuz
          cp -L result/initrd.img initrd.img

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          files: |
            vmlinuz
            initrd.img
